doctype html
html
  head
    title= title
  body
    h1 Hello
    form(action='/', method='post')
      select(name='test')
        for item in databases
          option() #{item}
      input(
        type='submit'
        value='submit'
      )

    script(type='text/javascript', src='components/jquery/dist/jquery.min.js').
    script(type='text/javascript', src='components/bootstrap/dist/js/bootstrap.min.js').
